@import 'colors';

.cart_container {
  text-align: center;

  .cart_table {
    background: $contrast;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .link {
      background: $dark_back;

      &:hover {
        background: $back;
      }
    }

    .quantity_field {
      width: 100%;
    }

    .name_field {
      width: 50%;
    }

    td {
      padding: 15px;
      text-align: center;
    }

    th {
      background: $dark_back;
      padding: 10px;
    }

    .order_item_row {
      &:hover {
        background-color: $hover;
        cursor: pointer;
      }
    }
  }
}