$back: #574f7d;
$dark_back: #2b1e37;

$contrast: #3c2a4d;
$hover: #342543;

$tile_back: #5f568a;
$tile_in_cart_back: #428d46;

$table_back: #645a91;

$order_chosen: #30223e;
$order_chosen_hover: #251a2f;
$status_incomplete: #875019;
$status_processing: #877c1f;
$status_complete: #257c2b;