@import 'colors';

.order_page {
  text-align: center;

  .order_page_table {
    background: $contrast;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    td {
      padding: 15px;
      text-align: center;
    }

    th {
      background: $dark_back;
      padding: 10px;
    }
  }
}