// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$contrast_color: #999999;

.product {
  background: $contrast_color;
  min-width: 200px;
  width: 15%;
  height: 15%;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.product_image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.preview_image {
  width: 20%;
  height: 20%;
}

.button_link {
  cursor: pointer;
  text-decoration: none;
  width: 70%;
  height: 5%;
  padding: 3px;
  margin: 5px;
  background: #CCCCCC;
  text-align: center;
  color: black;
  display: inline-block;
}
.button_link:hover {
  background: #666666;
}

.inline {
  display: inline-block;
}